<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tag Cloud</title>
    <link rel="stylesheet" type="text/css" href="/assets/jqcloud/jqcloud.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
    <script type="text/javascript" src="/assets/jqcloud/jqcloud-1.0.4.js"></script>
    <script type="text/javascript">

    $.getJSON("http://localhost:9034/tag/getAllTagWeights/json", function(data, status){
    $(function() {
          $("#my_favorite_latin_words").jQCloud(data);
        });
    });

    </script>
</head>
<body>
@*
<h1>Tag Cloud</h1>
*@
<div align="center">
    <h2 class="text-center">Tag Cloud</h2>


    <div id="my_favorite_latin_words" style="width: 550px; height: 350px; border: 1px solid #ccc;"></div>
</div>

</body>


</html>