@(workflow: metadata.Workflow, commentForm: play.data.Form[metadata.Comment],tags:String)


@import helper._

@scripts = {
<script src='@routes.Assets.at("javascripts/edit_button.js")'></script>
<script type="text/javascript">
          $(document).ready(function(){

          });
  </script>
}

@main("Workflows", scripts) {

@flash_message()


    <div class="container">


        <body>

            <h2 class="text-center">Workflow Details</h2>

            <div class="container col-md-6">
                <form>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="col-md-2">Item</th>
                                <th class="col-md-4">Value</th>

                            </tr>
                        </thead>
                        <tbody id="dynamicTBody">

                            <tr id="Title_trID">
                                <td id="Title">Workflow Title</td>
                                <td><span type="text" class="form-control"
                                id="Title_detail">@workflow.getTitle()</td>
                            </tr>
                            <tr id="Description_trID">
                                <td id="Description">Workflow Description</td>
                                <td><span type="text" class="form-control"
                                id="Description_detail">@workflow.getDescription()</td>
                            </tr>
                            <tr id="Contributor_trID">
                                <td id="Contributor">Workflow Contributor</td>
                                <td><span type="text" class="form-control"
                                id="Contributor_detail">@workflow.getContributor()</td>
                            </tr>
                            <tr id="Instruction_trID">
                                <td id="Instruction">Workflow Instruction</td>
                                <td><span type="text" class="form-control"
                                id="Instruction_detail">@workflow.getInstruction()</td>
                            </tr>
                            <tr id="Dataset_trID">
                                <td id="Dataset">Workflow Dataset</td>
                                <td><span type="text" class="form-control"
                                id="Dataset_detail">@workflow.getDataset()</td>
                            </tr>

                            <tr id="Tags_trID">
                                <td id="Tags">Workflow tags</td>
                                <td><span type="text" class="form-control"
                                          id="Tags_detail">@tags</td>
                            </tr>

                        </tbody>
                    </table>
                </form>
            </div>


            <div class="container col-md-6">
                <form>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Workflow Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a id="workflowImgLink" href=""> <img src="@workflow.getImage()"
                                id="workflowImg" class="img-responsive">
                                </a></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="text-center" id="output"></div>
                </form>
            </div>

            <div style="clear: both;" align="center">
                @if(workflow.visibility == 1) {
                    @helper.form(routes.WorkflowController.addLevelComment(workflow.getId())) {
                        <div class = "form-group" id="commentForm">
                        @textarea(commentForm("Comment on workflow"), 'rows -> 3, 'style -> "width: 80%;")
                        </div>
                        <input class="btn" type="submit" value="Add Comments">
                    }
                }
                @for(level <- workflow.getLevelList()){
                    <div class="pi">
                        <div>
                            <h5 class="alignleft"><a href = "@{routes.UserController.oneUser(level.comment.userId)}">User @level.comment.userName</a></h5>
                            <h5 class="alignright">Posted on @level.comment.date.toString()</h5>
                        </div>
                        <div class="pcommenttext" style="clear: both;" align="left">
                            <p class="fontnewroman">@level.comment.comments</p>
                        </div>
                        <div class="pcomment">
                            @if(level.commentList.size()>0) {
                                <h5 class="alignleft">Replies</h5>
                            }
                            @for(eachComment <- level.commentList){
                                <div class="pcontent" style="clear: both;">
                                    <div>
                                        <h5 class="alignleft"><a href = "@{routes.UserController.oneUser(eachComment.userId)}">User @eachComment.userName</a></h5>
                                        <h5 class="alignright">Posted on @eachComment.date.toString()</h5>
                                    </div>
                                    <div class="pcommenttext" style="clear: both;" align="left">
                                        <p class="fontnewroman">@eachComment.comments</p>
                                    </div>
                                </div>
                            }
                            @if(workflow.visibility == 1) {
                                @helper.form(routes.WorkflowController.addSingleComment(workflow.getId(), level.id)) {
                                    <div class = "form-group">
                                    @textarea(commentForm("Reply on this comment"), 'rows -> 3, 'style -> "width: 80%;")
                                    </div>
                                    <input class="btn" type="submit" value="Reply">
                                    }
                            }
                        </div>
                    </div>
                }
            </div>

        </body>

    </div>

    @*
    <h1>@workflows.size() Workflow List</h1>
    <table class="table table-striped table-bordered table-condensed ex2 tablesorter" id = "csTable">
    <thead>
    <tr>
    <th class="col-md-2">Workflow ID</td>
    <th class="col-md-4">Workflow title</td>

    </tr>
    </thead>
    @for(workflow <- workflows){
    <tr>
    <td><a href = "#"><font size="3">@workflow.getId()</a></font></td>

    <td><span class="@workflow.getTitle() editable"  data-name='purpose'><font size="3">
    @workflow.getTitle() </font></span></td>

    </tr>
    }
    </table>*@







    @*
<div class="container">


    <body>

    <h2 class="text-center">Workflow Details</h2>

    <div class="container col-md-6">
        <form>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="col-md-2">Item</th>
                    <th class="col-md-4">Value</th>

                </tr>
                </thead>
                <tbody id="dynamicTBody">

                <tr id="Title_trID">
                    <td id="Title">Workflow Title</td>
                    <td><span type="text" class="form-control"
                              id="Title_detail">@workflow.getTitle()</td>
                </tr>
                <tr id="Description_trID">
                    <td id="Description">Workflow Description</td>
                    <td><span type="text" class="form-control"
                              id="Description_detail">@workflow.getDescription()</td>
                </tr>
                <tr id="Contributor_trID">
                    <td id="Contributor">Workflow Contributor</td>
                    <td><span type="text" class="form-control"
                              id="Contributor_detail">@workflow.getContributor()</td>
                </tr>
                <tr id="Instruction_trID">
                    <td id="Instruction">Workflow Instruction</td>
                    <td><span type="text" class="form-control"
                              id="Instruction_detail">@workflow.getInstruction()</td>
                </tr>
                <tr id="Dataset_trID">
                    <td id="Dataset">Workflow Dataset</td>
                    <td><span type="text" class="form-control"
                              id="Dataset_detail">@workflow.getDataset()</td>
                </tr>

                <tr id="Tags_trID">
                    <td id="Tags">Workflow tags</td>
                    <td><span type="text" class="form-control"
                              id="Tags_detail">@tags</td>
                </tr>

                </tbody>
            </table>
        </form>
    </div>


    <div class="container col-md-6">
        <form>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Workflow Image</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a id="workflowImgLink" href=""> <img src="@workflow.getImage()"
                                                              id="workflowImg" class="img-responsive">
                    </a></td>
                </tr>
                <tr>
                    <td><a id="commentLink" href=""> <textarea
                            class="form-control" rows="3" id="comment"></textarea>
                    </a></td>
                </tr>
                </tbody>
            </table>
            <br>
            <div class="text-center" id="output"></div>
        </form>
    </div>


    </body>

</div>


<h1>@workflows.size() Workflow List</h1>
<table class="table table-striped table-bordered table-condensed ex2 tablesorter" id = "csTable">
    <thead>
    <tr>
        <th class="col-md-2">Workflow ID</td>
        <th class="col-md-4">Workflow title</td>

    </tr>
    </thead>
    @for(workflow <- workflows){
    <tr>
        <td><a href = "#"><font size="3">@workflow.getId()</a></font></td>

        <td><span class="@workflow.getTitle() editable"  data-name='purpose'><font size="3">
            @workflow.getTitle() </font></span></td>

    </tr>
    }
</table>*@


}